#loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: var(--bg-color);
  z-index: 999;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#spinner {
  animation: rotate 0.5s infinite linear;
  width: 50px;
  height: 50px;
  border: 2px solid var(--bg-color);
  border-bottom: 2px solid var(--text-color);
  border-radius: 50%;
  margin: 0;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  /*font-family: Garamond, serif;*/
}

input.text {
  /*font-family: Garamond, serif;*/
  font-size: 14px;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

h1 {
  font-size: 20px;
  line-height: 30px;
}

h2 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #2DC4B2;
}

#console {
  padding: 10px 20px;
  background-color: white;
  height: 75vh;
  max-height: 100%;
  overflow-y: auto;
}

#hiderbutton {
  padding:10px;
}

#clusterbutton {
  padding:10px;
  position:absolute;
  top:0;
  right:0;
}

#items{
  position: absolute;
  margin: 10px;
  width: 35vw;
  max-width: 40%;
}

:root {
  --bg-color: #fff;
  --text-color: rgb(10, 10, 10);
}