<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="utf-8"/>
        <title>Story Map | The Riddle Project</title>
        <link rel = "stylesheet"
            type = "text/css"
            href = "styles/story.css" />

        <meta name='robots' content='noindex, nofollow'>
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.1/mapbox-gl.js'></script>
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.1/mapbox-gl.css' rel='stylesheet' />
        <link rel="apple-touch-icon" sizes="180x180" href="favis/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favis/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favis/favicon-16x16.png">
        <link rel="manifest" href="favis/site.webmanifest">
        <link rel="shortcut icon" href="favis/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="favis/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">

        <meta property="og:image" content="favis/social-preview.png">
        <meta property="og:type" content="website">
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="511">
        <meta property="og:image:height" content="251">
    </head>

    <body>
        <div id='map'></div>

        {{ content }}
        <script src='./js/general-story.js'></script>
    </body>
</html>
